{% extends "base.html" %}

{% block title %} Series {% endblock %}

{% block head %} 

<link rel="stylesheet" type="text/css" href={{ url_for('static', filename="css/series.css") }}/>

{% endblock %}

{% block content %}



<div class="row">
	<div class="col-md-2">
	</div>
	
<!-- Liste -->
<div class="col-md-8">
	<h1>Serien/Alben bearbeiten</h1>

	<div class="seriescontainter">
		<table class="table">
			<tr>
				<th> Name </th>
				<th> Typ </th>
				<th> Aktionen </th>
			</tr>
			{% for s in series %}

				<tr>
					<td><b>{{s.name}}</b></td>
					<td>{% if s.type == "movie_series" %}Fernsehserie{% endif %}
						{% if s.type == "album" %}Musikalbum{% endif %}
						{% if s.type == "book" %}Buch{% endif %}
					</td>
					<td>
						<button class="btn btn-primary btn-sm tile-btn" data-toggle="modal" data-target="#series-modal-{{s.id}}">
						  		 <span class="glyphicon glyphicon-edit"></span>
						</button> 
						<button class="btn btn-danger btn-sm tile-btn" data-toggle="modal" data-target="#series-modal-delete-{{s.id}}">
						  		 <span class="glyphicon glyphicon-trash"></span>
						</button> 
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% for s in series %}

<!-- Modal zum Bearbeiten -->
<div class="modal fade" id="series-modal-{{s.id}}" tabindex="-1" role="dialog" aria-labelledby="series-modal-label-{{s.id}}" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
       			 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
      			 <h4 class="modal-title" id="series-modal-label-{{s.id}}">{{s.name}}</h4>
    		</div>

    		<div class="modal-body">
      			<div class="col-md-4"> 
	      			{% if s.image_id != None %}
						<img class="modalcover" src="{{url_for('file', id=s.image_id)}}" />
					{% else %}
						<img class="modalcover" src="{{url_for('static', filename='img/no_image.jpg')}}" />
	      			{% endif %}
		      	</div>
		      	<div class="col-md-8"> 
					 {% if s.type == "movie_series" %}
					    Datentyp: {{s.type}} <br/>
					    Zeitraum: {{s.first_year}} - {{s.last_year}}
					 {% endif %}
		      	</div>

      		</div>

      		<div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <a class="btn btn-primary" href="{{url_for('form_series', type=s.type, id=s.id)}}">Speichern</a>
      		</div>
   		</div>
  	</div>
</div>

<!-- Modal zum Löschen -->
<div class="modal fade" id="series-modal-delete-{{s.id}}" tabindex="-1" role="dialog" aria-labelledby="series-modal-delete-{{s.id}}" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	     	<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
	    		<h4 class="modal-title" id="series-modal-delete-{{s.id}}">{{s.name}}</h4>
	    	</div>

	    	<div class="modal-body">
	     		Wollen Sie den Datensatz zu "{{s.name}}"" wirklich und endgültig löschen?
	    	</div>

	    	<div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Nein, doch nicht löschen</button>
		        <form role="form" action="{{ url_for('delete_series', id=s.id) }}" method=post enctype="multipart/form-data" style="display: inline-block">
		        	<button type="submit" class="btn btn-primary" href="{{url_for('delete_series', id=s.id)}}">Ja, wirklich löschen!</button>
		        </form>
		        
	    	</div>
		</div>

  	</div>
</div>

<div class="col-md-2">
</div>

{% endfor %}


{% endblock content %}


